@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Bold.ttf");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
* {
  font-family: "Ubuntu";
}
.container  {
    width: 950px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFF;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-right: 100px;
}
#app {
    padding-top: 60px;
    background-color: rgb(228, 250, 242);
}

/* LEFT NAV LEFT NAV LEFT NAV LEFT NAV */
    .left-nav {
        width: 461px;
        background-repeat: no-repeat;
        padding: 40px 40px;
        border-radius: 10px;
        max-width: 274px;
        height: 568px;
        margin-right: 91px;
    }
    .nav-item {
        display: flex;
        margin-bottom: 25px;
        align-items: center;
    }
    .nav-item button {
        border-radius: 100px;
        height: 50px;
        width: 50px;
        color: #FFF;
        border: 1px solid #FFF;
        background-color: inherit;
        margin-right: 20px;
        font-weight: 600;
        font-size: 20px;
    }
    .nav-item-text h4 {
        margin-bottom: 5px;
        font-weight: 400;
        color: #d3d3d3;
        font-size: 13px;
    }
    .nav-item-text p {
        font-weight: 600;
        color: #FFF;
    }

/* LEFT NAV LEFT NAV LEFT NAV */
.right-form {
    padding-top: 50px;
    position: relative;
    width: 100%;
}
/* RIGHT FORM RIGHT FORM RIGHT FORM RIGHT FORM */

.content1 h1{
        color: #2c4158;
        font-weight: 600;
        margin-bottom: 15px;
    }
    .content1-titlep {
        color: #888888;
        font-size: 16px;
        margin-bottom: 20px;
    }
    .form  {
        display: flex;
        flex-direction: column;
    }
    .form label {
        color: #000;
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 10px;
    }
    .form input {
        padding: 10px;
        margin-bottom: 23px;
        border-radius: 10px;
        border: 2px solid #cccccc;
        font-size: 15px;
        font-weight: 500;
    }
    .nextstep {
        position: absolute;
        bottom: 20px;
        right: 0px;
        border: none;
        border-radius: 10px;
        background-color: #2e67a2;
        color: #FFF;
        padding: 15px 20px;
        transition: background-color 0.3s ease-in-out;
    }
    .nextstep:hover {
        background-color: #8665ea;
    }
    .goback {
        position: absolute;
        bottom: 20px;
        left: 0px;
        border: none;
        padding: 15px 0px;
        color: #2c4158;
        background-color: inherit;
        font-weight: 600;
        font-size: 15px;
    }

    
/* RIGHT FORM RIGHT FORM RIGHT FORM RIGHT FORM */

/* SELECT PLAN SELECT PLAN SELECT PLAN */ 
    .content2 h1{
            color: #2c4158;
            font-weight: 600;
            margin-bottom: 15px;
        }
    .content2-titlep {
        color: #888888;
        font-size: 16px;
        margin-bottom: 40px;
    }
    .select-div {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        justify-content: space-around;
        margin-bottom: 30px;

    }
    .select-item {  
        border: 1px solid #000;
        border-radius: 10px;
        width: 100%;
        padding: 20px 20px 20px 20px;
        cursor: pointer;
    }
    .selected-item {
        background-color: #d9f5f4;
    }
    .select-item h3 {
        margin-bottom: 6px;
    }
    .select-item-free {
        color: #2c4158;
        font-size: 14px;
        font-weight: 500;
    }
    .select-item-regp {
        margin-bottom: 10px;
    }
    .check {
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: #eefaff;
        padding-top: 20px;
        padding-bottom: 20px;
        align-items: center;
        justify-content: center;
    }
    .check p {
        font-weight: 600;
    }
    .select-img {
        margin-bottom: 40px;
    }
/* TOGGLE TOGGLE */
        .toggle-input {
            height: 0;
            width: 0;
            visibility: hidden;
        }
        .toggle-label {
            cursor: pointer;
            text-indent: -9999px;
            width: 40px;
            height: 20px;
            background: #2c4158;
            display: block;
            border-radius: 100px;
            position: relative;
            margin-left: 40px;
            margin-right: 40px;
        }
        .toggle-label:after {
            content: "";
            position: absolute;
            background-color: #eefaff;
            width: 13.5px;
            height: 13.5px;
            top: 3px;
            left: 3px;
            border-radius: 100px;
            transition: transform 0.3s ease-in-out, left 0.3s ease-in-out, width 0.1s ease-in-out;
        }
        .toggle-input:checked + .toggle-label:after {
            left: calc(100% - 3px);
            transform: translateX(-100%);
        }
        .toggle-label:active:after {
            width: 20px;
        }
    /* toggle toggle toggle */
/* SELECT PLAN SELECT PLAN SELECT PLAN */

/* CONTENT3 CONTENT3 CONTENT3 */
 .content3 h1{
        color: #2c4158;
        font-weight: 600;
        margin-bottom: 15px;
    }
    .content3-titlep {
        color: #888888;
        font-size: 16px;
        margin-bottom: 40px;
    }
    .content3-select-item {
        display: flex;
        margin-bottom: 30px;
        border: 1.5px solid #78409e;
        border-radius: 10px;
        padding: 20px 20px;
        align-items: center;
        justify-content: space-between;
        column-gap: 25px;
    }
    .content3-input {
        appearance: none;
        border: 1px solid #bbbbbb;
        width: 30px;
        height: 22px;
        display: block;
        border-radius: 4px;
        position: relative;
    }
    .content3-input:checked::before {
        content: "✓";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-weight: 500;
    }
    .content3-input:checked {
        background-color: #1745a8;
    }
    .content3-price {
        color: #78409e;
        font-weight: 500;
    }
    .content3-text {
        width: 100%;
    }
    .content3-text h3 {
        color: #2c4158;
    }
    .content3-text p {
        color: #888888;
        font-size: 16px;
    }



/* CONTENT3 CONTENT3 CONTENT3 */


/* CONTENT4 CONTENT4 CONTENT4 */

.content4 h1 {
        color: #2c4158;
        font-weight: 600;
        margin-bottom: 15px;
    }
    .content4-titlep {
        color: #888888;
        font-size: 16px;
        margin-bottom: 40px;
    }
    .content4-blue {
        background-color: #e7f7f4;
        border-radius: 10px;
        padding: 20px 20px 10px 20px;
        margin-bottom: 20px;
    }
   .content4-blue-item1 {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgb(219, 219, 219);
        padding-bottom: 20px;
        align-items: center;
        margin-bottom: 20px;
   }
   .content4-blue-item1 h3 {
        color: #2c4158;
        margin-bottom: 3px;
   }
   .content4-blue-item1 a {
        font-weight: 500;
   }
   .content4-blue-item1 p {
        font-weight: 600;
        font-size: 18px;
        color: #2c4158;
   }
   .content4-blue-item2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
   }
   .content4-blue-botprice {
        color: #2c4158;
        font-weight: 500;
   }
   .content4-blue-botname {
        color: rgb(142, 142, 142);

   }
   .content4-blue-item3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
   }
   .content4-total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px 0px 20px;
   }
   .total-name {
        color: rgb(142, 142, 142);
   }
   .total-price {
        color: #6800bd;
        font-weight: 600;
        font-size: 18px;
   }
   .confirm {
        position: absolute;
        bottom: 20px;
        right: 0px;
        border: none;
        border-radius: 10px;
        background-color: #2e67a2;
        color: #FFF;
        padding: 15px 20px;
   }
    .content3-selected {
        background-color: #D9F5F4;
    }
    .fields-warning {
        color: red;
        position: absolute;
        bottom: 33px;
        right: 150px;
    }
/* CONTENT4 CONTENT4 CONTENT4 */

.content5 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 80px;
    }
    .content5 img {
        margin-bottom: 30px;
    }
    .content5 h1 {
        color: #2c4158;
        font-weight: 600;
        margin-bottom: 15px;
    }
    .content5 p {
        color: #888888;
        font-size: 16px;
        margin-bottom: 40px;
        text-align: center;
        width: 450px;
    }